{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
 <!-- Full Page Intro -->
  <div class="view jarallax shade" data-jarallax='{"speed": 0.2}' style="background-image: url('{{destination.pretty_picture.url}}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    </div>
    <!-- Mask & flexbox options-->
    <div class="mask rgba-white-light d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row ">
          <!--Grid column-->
          <div class="col-md-12 white-text text-center animated fadeInUp">
            <h1 class="display-3 mb-0 pt-md-5 pt-5 white-text font-weight-bold wow fadeInDown" data-wow-delay="0.3s">
              <a class="indigo-text text-white  font-weight-bold">{{destination.name}}</a>
            </h1>
                <p class="indigo-text text-white ">{{destination.description}}</p>
                <p class="indigo-text text-white ">{{destination.activities}}</p>
                <p class="indigo-text text-white ">{{destination.optimal_visiting_season}}</p>
                <a href="{% url 'destination-update' destination.id %}" class="btn">
                    <button class="btn btn-outline-light">Update</button>
                </a>
                <a href="{% url 'destination-delete' destination.id %}" class="btn">
                    <button class="btn btn-outline-light">Delete</button>
                </a>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
 
  <!-- Full Page Intro -->

{% endblock content %}