{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update{% endblock title %}

{% block content %}
<div class="container ">
	<div class=" my-form animated fadeIn m-5 p-4">
		<div class="row justify-content-center ">
			<div class="col-10 animated fadeInUp">
				<form action="{% url 'destination-update' destination_obj.id %}" method="POST" enctype="multipart/form-data">
				  {% csrf_token %}
				  {{form|crispy}}
				  <input type="submit" value="Update" class="btn btn-info float-right">
				</form>
			</div>
		</div>
	</div>
 </div>
{% endblock content %}
